body {
  background-color: #252830;
}

ul {
  display: flex !important;
  flex-direction: row !important;
}

li {
  display: flex;
  flex-direction: row;
  padding-right: 20px;
}

.headline {
  color: white;
}